# Copy this file to .env and paste your TMDB v3 API Read Access Token.
TMDB_ACCESS_TOKEN=
TMDB_API_BASE_URL=https://api.themoviedb.org/3
TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p
TMDB_LANGUAGE=en-US
